<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.siteTitle %></title>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=<%= htmlWebpackPlugin.options.googleMapApiKey %>"></script>
  </head>

  <body>
    <div class="container">
      <header class="header">
        <h1 class="header__title">
          <a class="header__link" href="/"><%= htmlWebpackPlugin.options.title %></a>
        </h1>
        <h2 class="header__subtitle"><%= htmlWebpackPlugin.options.subTitle %></h2>
      </header>
      <div class="content">
        <article class="travel-page">
          <div class="map">
            <div id="travel-map"></div>
          </div>
          <article class="travel-list">
            <div class="filters">
              <div class="filters-box__label">List of</div>
              <div class="filters-box">
                <div class="filters-box__item _active" data-content="countries-list">
                  countries
                </div>
                <div class="filters-box__item" data-content="trips-list">
                  trips
                </div>
              </div>
            </div>
            <div class="travel-list__body">
              <ol class="countries-list"><%= htmlWebpackPlugin.options.countries %></ol>
              <div class="trips-list"><%= htmlWebpackPlugin.options.trips %></div>
            </div>
          </article>
        </article>
      </div>
    </div>
    <%= htmlWebpackPlugin.options.shareData %>
  </body>
</html>
