<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.siteTitle %></title>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=<%= htmlWebpackPlugin.options.googleMapApiKey %>"></script>
  </head>

  <body>
    <div class="container">
      <header class="header__menu">
        <h1 class="header__menu-title">
          <a href="/"><%= htmlWebpackPlugin.options.title %></a>
        </h1>
        <h2 class="header__menu-subtitle"><%= htmlWebpackPlugin.options.subTitle %></h2>
        <nav class="header__menu-list"></nav>
      </header>

      <section class="content">
        <section class="travel">
          <div class="map">
            <div id="travel-map"/>
          </div>
          <article class="post__container">
            <div class="filters__block">
              <div class="filters__section-label">List of</div>
              <div class="filters__section">
                <div class="filters__section-item _active" data-content="countries-list">
                  countries
                </div>
                <div class="filters__section-item" data-content="visits-list">
                  trips
                </div>
              </div>
            </div>
            <div class="post__body">
              <ol class="countries-list"><%= htmlWebpackPlugin.options.countries %></ol>
              <div class="visits-list"><%= htmlWebpackPlugin.options.visits %></div>
            </div>
          </article>
        </section>
      </section>
    </div>
    <%= htmlWebpackPlugin.options.shareData %>
  </body>
</html>
